<!-- templates/grades.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Grades Table for {{ students[0].class.name }} on {{subject.name}} </title>
    <style>
        table {
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
        }
    </style>
</head>
<body>
    <h1>Grades Table for {{ students[0].class.name }} on {{subject.name}} </h1>
    <table>
        <thead>
            <tr>
                <th></th>
                {% for _, date in dates.items() %}
                    <th>{{ date }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ student.name }}</td>
                    {% for date, _ in dates.items() %}
                        <td>{{ students_grades[student.name].get(date, '') }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>Add Grade</h2>
    Copy
    Insert
    <form method="POST" action="{{ url_for('add_student_grade') }}">
        <label for="class">Class:</label>
        <input name="class" id="class" value="{{the_class.id}}" readonly>
    
        <label for="subject">Subject:</label>
        <input name="subject" id="subject" value="{{subject.id}}" readonly >
    
        <label for="student">Student:</label>
        <select name="student" id="student">
            {% for student in students %}
                <option value="{{ student.id }}">{{ student.name }}</option>
            {% endfor %}
        </select>
    
        <label for="date">Date:</label>
        <input type="date" name="date" id="date">
        <label for="grade">Grade:</label>
        <input type="number" name="grade" id="grade" min="0" max="100" required>
        <input type="submit" value="Add Grade">
    </form>
</body>
</html>